@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #c591d9;
}
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.days li.today {
    background-color: #9B59B6;
  }
  
  .days li.clicked {
    background-color: grey;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000; /* Ensure the sidebar stays above other content */
}

.sidebar h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper {
    margin-left: 200px; /* Adjust margin to accommodate the sidebar width */
    padding: 20px;
    box-sizing: border-box;
}

#event-list-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    
}

.event{
    background-color: #c591d9; 
    padding: 10px;
    max-width: 500px;
    width: 250px;
    
    text-align: center;
}