.hero {
    background-image: url('/static/dashboard.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height of the hero section to the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Change text color to white for better visibility */
    
  z-index: -1; 
  }
  
  .hero {
    text-align: center;
  }
  
  /* Style the hero content */
  .hero-content {
    margin-top: 50px; /* Add some space from the top */
    
  }

  .hero-content h1{
    font-size:80px;
  }
  
  /* Style the button */
  .buttonbook button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #398feb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonbook button:hover {
    background-color: #0056b3;
  }