<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/addvenue.css">
  <link rel="stylesheet" href="/static/usernav.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav>
    <div class="navbar">
      <!-- <i class='bx bx-menu'></i> -->
      <div class="logo"><a href="#">Hack huslters</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Hack hustlers</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
            <li><a href="{{url_for('admindashboard')}}">HOME</a></li>
            <li><a href="{{url_for('home')}}">Venues</a></li>
            <li><a href="{{url_for('hall_requests')}}">Requests</a></li>
            <li><a href="{{url_for('calendar_admin')}}">Calender</a></li> 
            <!-- admin calender .... this niieds to be updated -->
            <li><a href="{{url_for('analytics')}}">Analytics</a></li>
            <li><a href="{{url_for('go_to_add_user')}}">Manage Users</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
  <div class="login-box">
    <h2>Venue Information</h2>
    <form action="/addvenue" method="post"  enctype="multipart/form-data">
      <div class="user-box">
        <input type="text" name="name" required="">
        <label>Venue Name</label>
      </div>
      <div class="user-box">
        <input type="number" name="capacity" required=""  >
        <label>Capacity</label>
      </div>
      <div class="user-box">
        <input type="text" name="features" required="">
        <label>Features</label>
      </div>
      <div class="user-box">
        <input type="text" name="imgfile" required="">
        <label>Image Filename</label>
      </div>
      <div class="user-box">
        <input type="file" name="file1" id="file1" accept="image/*" required="">
        <label for="image">Upload Image</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button type="submit"> Submit </button>
      </a>
      
    </form>
  </div>
</body>
</html>