<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/addvenue.css">
</head>
<body>
  <div class="login-box">
    <h2>Venue Information</h2>
    <form action="/addvenue" method="post"  enctype="multipart/form-data">
      <div class="user-box">
        <input type="text" name="name" required="">
        <label>Venue Name</label>
      </div>
      <div class="user-box">
        <input type="number" name="capacity" required=""  >
        <label>Capacity</label>
      </div>
      <div class="user-box">
        <input type="password" name="features" required="">
        <label>Features</label>
      </div>
      <div class="user-box">
        <input type="text" name="imgfile" required="">
        <label>Image Filename</label>
      </div>
      <div class="user-box">
        <input type="file" name="file1" id="file1" accept="image/*" required="">
        <label for="image">Upload Image</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button type="submit"> Submit </button>
      </a>
      
    </form>
  </div>
</body>
</html>