<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/analytics.css">
    <title>Document</title>
</head>
<body>
    <div className="adminrepage">
        
        <div className="outerflex">
            <div className="flexbox123" id="box11">
                <div className="box12">
                    <p>Hello</p>
                </div>
            </div>
            
            <div className="flexbox123" id="box33">
                <div className="box12">
                
            </div>
            <div className="flexbox123" id="box44">
                <div className="box12">
                
            </div>

            <div className="flexbox123" id="box22">
                <div className="box12">
                    
                </div>
            </div>
        </div>
        <div className="lowerBox">
            <div className="showCountdata">
                <div className="innerT">
                    <h4>Vote Statistics</h4>
                </div>
                <table>
                            <tr>
                            <td>Name</td>
                            <td>MIS</td>
                                <td>Vote Count</td>
                                
                            </tr>
                        
                        
                        
                    </table>
                
            </div>
            <div className="winChart">
                <div className="innerT">
                <h4>Pie Chart: Vote Count for Each Candidate</h4>

                </div>
                <div className="imgpie">
                        

                        </div>
            </div>
        </div>
    </div>
</body>
</html>