

<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Dynamic Calendar JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="/static/calendar1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font Link for Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="/static/usernav.css">
    <link rel="stylesheet" href="/static/calendar1.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="/static/script.js" defer></script>
</head>
<body>
  <nav>
    <div class="navbar">
      <!-- <i class='bx bx-menu'></i> -->
      <div class="logo"><a href="#">HackHustlers</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">HackHustlers</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="{{url_for('admindashboard')}}">HOME</a></li>
          <li><a href="{{url_for('home')}}">VENUES</a></li>
          <li><a href="{{url_for('booking_form_admin')}}">BOOKING</a></li>
          <li><a href="{{url_for('hall_requests')}}">REQUESTS STATUS</a></li>
          <li><a href="#">REQUESTS STATUS 2</a></li>
          <li><a href="{{url_for('calendar_admin')}}">CALENDER</a></li>
          <li>
            <a href="{{url_for('admin_profile')}}">PROFILE</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
          </li>
          <li><a href="{{url_for('contact')}}">CONTACT</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
<div class="sidebar">
    <h2>Events</h2>
    <div id="event-list-container" class="event-list">
        <h2>Events for Selected Date</h2>
        <div id="no-events" class="empty-message" style="display: none;">No events for the selected date</div>
        <!-- Event list will be inserted here -->
    </div>
</div>
<div class="wrapper">
    <header>
        <p class="current-date"></p>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
        <ul class="days"></ul>
    </div>
</div>

</body>
</html>
