<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue Cards</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="/static/usernav.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <style>
      /* Add custom CSS for spacing */
      .container {
        margin-bottom: 20px; /* Adjust this value to change the spacing */
      }
    </style>
  </head>
  <header>
    
  </header>
  <body>
    <nav>
      <div class="navbar">
        <!-- <i class='bx bx-menu'></i> -->
        <div class="logo"><a href="#">HackHustlers</a></div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name">HackHustlers</span>
            <i class='bx bx-x' ></i>
          </div>
          <ul class="links">
            <li><a href="{{url_for('dashboard')}}">HOME</a></li>
            <li><a href="{{url_for('venue')}}">VENUES</a></li>
            <li><a href="{{url_for('booking_form')}}">BOOKING</a></li>
            <li><a href="{{url_for('hall_requests_user')}}">REQUESTS STATUS</a></li>
            <li><a href="{{url_for('calendar_user')}}">CALENDER</a></li>
            <li>
              <a href="{{url_for('profile')}}">PROFILE</a>
              <i class='bx bxs-chevron-down js-arrow arrow '></i>
              <ul class="js-sub-menu sub-menu">
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
              </ul>
            </li>
            <li><a href="{{url_for('contact')}}">CONTACT</a></li>
          </ul>
        </div>
        
      </div>
    </nav>
    <div class="venues">
      <div class="navigation-arrow arrow-left">
        <a href="{{prev}}">&larr;</a>
      </div>
      {% for venue in venue %}

      <div class="halls">
        <div class="container">
          <div class="card">
            <img
              src="{{url_for('static', filename='assets/'+ venue.imgfile)}} "
              alt="img"
            />
            <div class="intro">
              <h1>{{ venue.name }}</h1>
              <p>{{venue.features}}</p>
            </div>
          </div>
          <form action="\booking_form"><button class="book-now">BOOK NOW</button></form>
          
        </div>
      </div>
      {% endfor %}
      <div class="navigation-arrow arrow-right"><a href="{{next}}"> &rarr;</a></div>
      
    <script src="/static/home.js"></script>
    <script src="/static/modal.js"></script>

  </body>
</html>